@import "bodyparts";
@import "mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#Texte {
  background-color: white;
  color: black ;
  left: 45em;
  bottom: 15em;
  position: relative;
  width: 10vw;
  

}
